body{
    background-color: rgb(233, 230, 230);
}

.traffic-light {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 350px;
    background-color: #eeebeb;
    border: 10px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}
.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
}
.red { background-color: red; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.active { opacity: 1; }


.container {
    margin-top:30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 70vh;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    
    margin:auto;
    width:200px;
    margin: 65px  0px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}
/* .btn{
    margin:auto;
    width:200px;
} */

.card-cd{
    border:2px solid gray;

    margin: 0px 200px;
}

.card-cs{
    border:2px solid gray;

    margin: 0px 200px;
}
.card-cc{
    border:2px solid gray;

    
}

ul{
    list-style: none;
}
li{
    margin: 10px 0px;
}
body {
    font-family:  sans-serif;
}

.card {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

@media ((max-width:1024px) and (min-width:768px)) {
    .card-cs{
        border:1px solid gray;
    
        margin: 0px 100px;
    }
    .card-cd{
        border:2px solid gray;
    
        margin: 0px 100px;
    }
}

@media ((max-width:768px)) {
    .card-cs{
        border:1px solid gray;
    
        margin: 0px;
    }
    .card-cd{
        border:2px solid gray;
    
        margin: 0px ;
    }
}
